.course-div {
    background-color:#f4f4f4;
    border:2px solid black;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    margin-bottom: 30px;
}

.course-header-div {
    background-color:#d9d9d9;
    border-bottom:2px solid black;
    border-radius:5px;
    padding:5px 20px;
}
.course-header {
    font-weight:bolder;
}

.assignment-div {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:5px 20px;
    border:1px solid black;
    border-radius:5px;
    margin:10px;
}
.assignment-button {
    border:1px solid black;
    border-radius:5px;
    color:white;
    background-color:#4294ff;
    padding:0px 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:30px;
}

.assignment-button-text {
    font-weight:bold;
}