.lock-screen-div {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    margin:50px;
}
.lock-screen-name {
    padding:30px;
}

.lock-screen-button {
    padding:10px 20px;
    border:1px solid black;
    border-radius:5px;
}
.lock-screen-button:active {
    margin-top: 1px;
    margin-bottom:-1px;
}